body {
	background-image: url("../images/back2.jpeg");
	background-size:auto;
    background-position: center top;
	font-family: 'Bangers', cursive;
}

h1{
	font-size: 5vw;
}

#container{
	background-image: url("../images/background.png");
	width:60%;
	display:block;
	margin:auto;
	margin-top:5%;
/*	background-color:#66ccff;*/
}

.btn{
	width:50%;
	font-size:1.5vw;
}

#time,
#question,
#answer1,
#answer2,
#answer3,
#answer4{
	font-size:2vw;
	color: black;
}

.answer:hover{
	background-color: #66ccff;
